@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-white text-black;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-gray-900 text-white;
  }
}

/* body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.5); 
  border-radius: 4px;
} */
