@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 기본 색상 */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 기본 설정 */
html {
  scrollbar-gutter: stable;
  color-scheme: light dark;
}

body {
  font-family: "Pretendard", var(--font-geist-sans), system-ui, sans-serif;
  background-color: white;
  color: black;
  overflow-y: auto;
}

/* 다크 모드 */
html.dark {
  color-scheme: dark;
}

html.dark body {
  background-color: rgb(17 24 39);
  color: white;
}
