@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Base colors */
  --background: #ffffff;
  --foreground: #171717;

}

@media (prefers-color-scheme: dark) {
  :root {
    /* Base colors - Dark mode */
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

body {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
  @apply bg-white text-black;

}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-gray-900 text-white;
  }
}